{% extends "pages/base.html" %}
{% block title %}
Most Popular Movies IMDB
{% endblock%}
{% block content %}
<div class="container">
    <div class="col-8 offset-2 list-content">

        <h1 class="text-center">Most Popular Movies</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Poster</th>
                    <th scope="col">Name</th>
                    <th scope="col">Year</th>
                    <th scope="col">IMDb Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in listMovies %}
                <tr>
                    <td>{{ movie.mv_stt }}</td>
                    <td>
                        <img src="{{ movie.mv_link_poster }}" alt="{{ movie.mv_name }}">
                    </td>
                    <td>
                        <a href="/detail/{{ movie.mv_stt }}">{{ movie.mv_name }} </a>
                    </td>
                    <td>{{ movie.mv_year }}</td>
                    <td>{{ movie.mv_rating }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}